<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SelfseaMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>com.googleusercontent.apps.107731993306-6s44u18onibp6gi0ddj94si1aifshhg6</string>
		</array>
	</dict>
	<key>NSAllowsArbitraryLoads</key><true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>CalibreBlack.otf</string>
		<string>CalibreBlackItalic.otf</string>
		<string>CalibreBold.otf</string>
		<string>CalibreBoldItalic.otf</string>
		<string>CalibreLight.otf</string>
		<string>CalibreLightItalic.otf</string>
		<string>CalibreMedium.otf</string>
		<string>CalibreMediumItalic.otf</string>
		<string>CalibreRegular.otf</string>
		<string>CalibreRegularItalic.otf</string>
		<string>CalibreSemibold.otf</string>
		<string>CalibreSemiboldItalic.otf</string>
		<string>CalibreThin.otf</string>
		<string>CalibreThinItalic.otf</string>
		<string>Calibre-Black.otf</string>
		<string>Calibre-BlackItalic.otf</string>
		<string>Calibre-Bold.otf</string>
		<string>Calibre-BoldItalic.otf</string>
		<string>Calibre-Light.otf</string>
		<string>Calibre-LightItalic.otf</string>
		<string>Calibre-Medium.otf</string>
		<string>Calibre-MediumItalic.otf</string>
		<string>Calibre-Regular.otf</string>
		<string>Calibre-RegularItalic.otf</string>
		<string>Calibre-Semibold.otf</string>
		<string>Calibre-SemiboldItalic.otf</string>
		<string>Calibre-Thin.otf</string>
		<string>Calibre-ThinItalic.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
