<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597759932954-5p7j28bdtmp1jktls8sbq4oh0pbm65af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597759932954-5p7j28bdtmp1jktls8sbq4oh0pbm65af</string>
	<key>API_KEY</key>
	<string>AIzaSyAnDFC3DZW0ntbjR4TKyl0-ND7bjQMybho</string>
	<key>GCM_SENDER_ID</key>
	<string>597759932954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selfseamobile</string>
	<key>PROJECT_ID</key>
	<string>selfsea-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>selfsea-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597759932954:ios:8f583a98506999d2a1efa3</string>
</dict>
</plist>